window#waybar {
  background-color: rgba(0,0,0,0);
  border: none;
}
button{
  border: none;
  border-radius: 0;
  box-shadow: none;
}
button:hover {
  background: inherit;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  text-shadow: none;
}
#battery, #network, #cpu, #memory  {
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 10px;
}
#battery, #network, #cpu, #memory  {
  background-color: #424C80; /*#DFEFF7;*/
  color: #99DAEE;
}
#clock {
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 10px;
}
#custom-weather {
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 10px;
}
#clock, #custom-weather {
  background-color: #424C80; /*#DFEFF7;*/
  color: #99DAEE;
}
#taskbar, #tray {
  background-color: #424C80;
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 10px;
}
#workspaces {
  background-color: #424C80;
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 10px;
}
#workspaces button,
#taskbar button {
  color: #99DAEE; /*#DFEFF7;*/
  background-color: #424C80;
  transition: all 0.15s ease;
}
#workspaces button:hover,
#taskbar button:hover {
  color: #424C80;
  background-color: #99DAEE; /*#DFEFF7;*/ /*rgba(223,239,247,0.25);*/
  box-shadow: 0 0 8px #99DAEE, /*#DFEFF7,*/
              0 0 16px #99DAEE; /*#DFEFF7;*/
}
#workspaces button.active,
#taskbar button.active,
#workspaces button.focused {
  color: #424C80;
  background-color: #99DAEE; /*#DFEFF7;*/
}
#workspaces button:hover label,
#taskbar button:hover label {
  color: #424C80
}
